<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>headerCellClass</key>
			<string>HBPackageNameHeaderCell</string>
			<key>packageIdentifier</key>
			<string>dev.squiddy.pp</string>
			<key>showVersion</key>
			<false/>
			<key>backgroundGradientColors</key>
			<array>
				<string>#5FE4DD</string>
				<string>#5FA9E9</string>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Lock Delay</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>5</real>
			<key>min</key>
			<real>1</real>
			<key>max</key>
			<real>10</real>
			<key>showValue</key>
			<true/>
			<key>isSegmented</key>
			<true/>
			<key>segmentCount</key>
			<integer>9</integer>
			<key>defaults</key>
			<string>dev.squiddy.PP</string>
			<key>key</key>
			<string>delay</string>
			<key>PostNotification</key>
			<string>dev.squiddy.PP/prefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Tilt Sensitivity</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>-25</real>
			<key>min</key>
			<real>-85</real>
			<key>max</key>
			<real>0</real>
			<key>showValue</key>
			<true/>
			<key>isSegmented</key>
			<true/>
			<key>segmentCount</key>
			<integer>17</integer>
			<key>defaults</key>
			<string>dev.squiddy.PP</string>
			<key>key</key>
			<string>sensitivity</string>
			<key>PostNotification</key>
			<string>dev.squiddy.PP/prefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Credits</string>
		</dict>
		<dict>
			<key>big</key>
			<true/>
			<key>cellClass</key>
			<string>HBTwitterCell</string>
			<key>height</key>
			<integer>56</integer>
			<key>label</key>
			<string>Squiddy</string>
			<key>user</key>
			<string>Squidkingdom</string>
			<key>smallText</key>
			<string>Developer</string>
		</dict>
	</array>
	<key>title</key>
	<string>Pocket Protector</string>
</dict>
</plist>
